/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */

/* .cursor {
  position: absolute;
  top: 0;
  left: 0;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  transition: 0.1s;
  background-image: url('cursor.svg');
  filter: grayscale(100%);
  opacity: 0.5;
} */

html, body {
  background: black;
  background: linear-gradient(180deg, 
   0%, rgba(196,77,77,1) 36%, rgba(1,28,54,1) 57%, rgba(1,28,54,1) 100%);
  background: #C44D4D;
  color: white;
}
*::selection {
  background: #e8e0cc !important;
}
a{
  color: inherit
}